<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=skull" />

<h1>Painel da instancia Google cloud</h1>
<p>Status do servidor: {{ statusVm }}</p>
<button mat-raised-button (click)="ligarVM()"><mat-icon>start</mat-icon>Iniciar</button>
<button mat-button (click)="desligarVM()" class="desligar"><mat-icon>power_settings_new</mat-icon> Desligar</button>
<button mat-button (click)="killVm()" class="killVm"><img src="assets/skull.svg" alt="">Forçar desligamento</button>