<app-default-login-layout
        title="Entre para acessar o sistema"
        primaryBtnText="Login Now"
        secondaryBtnText="Signup Now"
        (submit)="submit()"
        (navigate)="navigate()"
>
    <form [formGroup]="loginForm">
        <app-primary-input
                formControlName="email"
                inputName="email"
                type="text"
                label="Email"
                placeholder="johndoe@gmail.com"
        >
            <mat-icon>mail</mat-icon>
        </app-primary-input>

        <app-primary-input
                formControlName="password"
                inputName="password"
                type="password"
                label="Your Password">
                <mat-icon>lock</mat-icon>
        </app-primary-input>
        <div class="mensage-error-class" *ngIf="showErroMenssage">* Fill in the email and password correctly</div>
    </form>
</app-default-login-layout>